# Environment files
*.env
.env.*
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
.venv/
# Python virtual environments
backend/.venv2/
backend/.venv/


# OS
.DS_Store
